Source: awstats
Section: web
Priority: optional
Maintainer: Mathias Ertl <apt-repository@fsinf.at>
Uploaders: Jonas Smedegaard <dr@jones.dk>, Sergey B Kirpichev <skirpichev@gmail.com>
Build-Depends: cdbs (>= 0.4.70~),
 devscripts (>= 2.10.7~),
 debhelper (>= 6),
 dh-buildinfo,
 ant,
 default-jdk,
 sharutils
Vcs-Git: git://git.debian.org/git/collab-maint/awstats.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/awstats.git;a=summary
Standards-Version: 3.9.1
Homepage: http://awstats.sourceforge.net/

Package: awstats
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, ${cdbs:Depends}
Recommends: ${cdbs:Recommends}
Suggests: ${cdbs:Suggests}
Description: powerful and featureful web server log analyzer
 Advanced Web Statistics (AWStats) is a powerful web server logfile
 analyzer written in perl that shows you all your web statistics including
 visits, unique visitors, pages, hits, rush hours, search engines, keywords
 used to find your site, robots, broken links and more. Gives more detailed
 information and better graphical charts than webalizer, and is easier to use.
 Works with several web server log format as a CGI and/or from command line.
 Supports more than 30 languages.
